 .clr{
  clear: both;
}
.footer
{
  
  background: #282828;
  width: 100%;
  height: auto;
  min-height: 250px;
  margin:auto;
  overflow: hidden;
  position: relative;
  padding-top: 45px;
  bottom: 0px;
  
}

.social-icons{
	width: 100%;
	height: auto;
	margin: auto;
    padding-top:20px;
    margin-bottom: 20px;
}
.social-icons ul{

	margin: 0px;
	padding: 0px;
	text-align: center;
	}
.social-icons ul li{
	display: inline-block;

	margin-right: 8px;
	width: 55px;
	height: 55px;
	text-align: center;
	border: 2px solid #fff;
border-radius: 50%;
transition: .5s;

}
.social-icons ul li a{
color: #ffff;
display: block;
font-size: 28px;
}

.social-icons ul li a i{
	line-height: 50px;
}
.social-icons ul li.fa{
	margin-top: 20px;
}
.social-icons ul li:hover:nth-child(1){
	border: 5px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;


}
.social-icons ul li:hover .fa-facebook{
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	
}
.social-icons ul li:hover:nth-child(2){
	border: 5px solid #E4405F;
	box-shadow: 0 0 15px #E4405F;
}
.social-icons ul li:hover .fa-instagram{
	color: #bc2a8d;
	text-shadow: 0 0 15px #E4405F;
	}
	.social-icons ul li:hover:nth-child(3){
	border: 5px solid #25d366;
	box-shadow: 0 0 15px #25d366;
}
.social-icons ul li:hover .fa-whatsapp{
	color: #25d366;
	text-shadow: 0 0 15px #25d366;
	}
		.social-icons ul li:hover:nth-child(4){
	border: 5px solid #007bb5;
	box-shadow: 0 0 15px #007bb5;
}
.social-icons ul li:hover .fa-linkedin{
	color: #007bb5;
	text-shadow: 0 0 15px #007bb5;
	}
		.social-icons ul li:hover:nth-child(5){
	border: 5px solid #db4437;
	box-shadow: 0 0 15px #db4437;
}
.social-icons ul li:hover .fa-google{
	color: #db4437;
	text-shadow: 0 0 15px #db4437;
	}
.footer-mid{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-section1:hover{
	border: 2px solid #00b489;

}
.footer-section1{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
	background: rgba(255,255,255,.1);
	color: #ffff;
}
.footer-heading1{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-heading1 h2{
	font-size: 18px;
	text-align: left;
	text-transform: capitalize;
	margin: 0px;
}

.footer-section3{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
	background: rgba(255,255,255,.1);
	color: #fff;
}
.footer-link{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;
}


.footer-link ul{
	margin: 0px;
	padding: 0px;
}
.footer-link ul li{
	list-style-type: none;
	text-align: center;
	padding-top: 5px;
}
.footer-link ul li a{
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;

}
.footer-link ul li a:hover{
	color: green;
}
.footer-section1 .footer-heading1 h2{
	text-align: center;
}
.footer-form{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;
}
.footer-form-box{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;
}
.footer-form-style{
	width: 100%;
	height: 40px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid rgba(0,0,0,0.7);
	background: transparent;
	font-size: 14px;
	text-align: left;
	padding: 0px 10px;
	color: red;
}
.footer-form-submit-style{
	width: 130px;
	height: 35px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	background:  #E2472F;
	border:none;
	margin-top: 2px;
}
.footer-form-submit-style:active{
	background: #f00;
}
.footer-bottom{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-bottom{
  font-size: 14px;
  text-align: center;
  color: #fff;
}
